name: 内核构建

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 检查储存库
        uses: actions/checkout@v4

      - name: 执行build.sh
        run: |
          chmod +x local/build.sh
          ./local/build.sh

      - name: 上传AnyKernel3刷机包
        uses: actions/upload-artifact@v4
        with:
         name: kernel-zip
         path: out/kernel.zip

      - name: 上传boot.img
        uses:  actions/upload-artifact@v4
        with:
         name: boot-zipp
         path: out/boot.img
